/*CSS*/

.darkClass
{
    background-color: black;
    filter:alpha(opacity=90); /* IE */
    opacity: 0.9; /* Safari, Opera */
    -moz-opacity:0.9; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.visible {
	visible: false;
}

textarea:focus, input:focus{
    outline: none;
}
